{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% include 'partials/og.html' %}
    {% include 'partials/jsonld.html' %}
{% endblock %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="blog-header" class="has-cover">
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
          <span class="blog-logo">
            <a href="{{ SITEURL }}"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
          </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
        <h1 class="blog-name"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        {% if SITESUBTITLE %}
        <span class="blog-description">{{ SITESUBTITLE }}</span>
        {% endif %}
        {% if HEADER_COVER %}
            <div class="blog-cover cover" style="background-image: url('{{ HEADER_COVER }}')">
        {% elif HEADER_COLOR %}
            <div class="blog-cover cover" style="background-color: {{ HEADER_COLOR }}">
        {% else %}
            <div class="blog-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/how_to_fly.jpg')">
        {% endif %}        
      </div>
    </header>

{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    <div id='main-container'>
	    <!--<div class='fixed-nav'>
	      <a class="social" href="#" alt="Back Home">
		<i class="fa fa-home"></i>
	      </span></a>
	      <a id="totop-arrow">
		<i class="fa fa-angle-up"></i>
	      </span></a>
	      <a id="subscribe" href="https://feeds.feedburner.com/adancaa">
		<i class="fa fa-envelope-o"></i>
		</span></a>

        </div>-->
      {% include "partials/menu.html" %}
      {% include "partials/loop.html" %}
    </div>
  </main>
</div>
{% endblock content %}    
