    <div class="extra-pagination">
        {% include "partials/pagination.html" %}
    </div>

    {% for article in articles_page.object_list if not ('drafts' in article.tags and output_file == 'index.html') %}
        <article class="post">
            <header class="post-header">         
                <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
                <span class="post-meta">
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author|capitalize }}</a>
                    {% endfor %}
                    | <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
                <!-- </span>
		<span class="post-meta"> -->
		    {# % if article.tags  % #}
		    {% for tag in article.tags %}
		    {%if loop.first%} | {%endif%}
		    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{%if not loop.last%}, {%endif%}
		    {% endfor %}
		    {#% endif %#}
		    {% if article.pin %} | <strong>pinned post</strong>{% endif %}
                </span>
                <span class="post-meta-right">
		    {% if article and article.show_source_url %}
		    <a href="{{ SITEURL }}/{{ article.show_source_url }}">Show source</a>
		    {% endif %}
                </span>
                <div class="clear"></div>
            </header>
            {% if SHOW_FULL_ARTICLE %}
                <section class="post-content">
                {{ article.content }}
                </section>
            {% else %}
                <section class="post-excerpt">
                    <p>
                    {% if article.has_summary %}
                        {{ article.summary }}
                    {% elif article.summary %}
                        {{ article.summary|striptags|truncate(250) }}
                    {% endif %}
                    </p>
                </section>
            {% endif %}
	    {% if article.history %}
		<section class="well" id="related-posts">
		    {% if article.github_history_url %}
		      <h4><a href={{ article.github_history_url }}>{{ POST_REVISION_TEXT|default('Post History') }}</a></h4>
		    {% else %}
		      <h4>{{ POST_REVISION_TEXT|default('Post History:') }}</h4>
		    {% endif %}

		    {% for date, msg in article.history[:POST_HISTORY_MAX_COUNT|default(5)] %}
		      <b>{{ date|strftime("%A %I:%M %p, %B %d %Y") }}</b><br/><p>{{ msg }}</p>
		    {% endfor %}
		</section>
	    {% endif %}
            {% include 'partials/comments_count.html' %}
        </article>
    {% endfor %}

    {% include "partials/pagination.html" %}
